* {
  margin: 0;
  padding: 0;
  border: 0;
}

/* #25608d */
/* 
#a4b4bf */

/* #d5e7f2  */

h1 {
  font-family: "Oswald", sans-serif;
}

body {
  font-family: "Quattrocento", serif;
}

/* JUMBTRON */

header.masthead {
  padding-top: 200px;
  margin-top: 100px;
  padding-bottom: calc(10rem - 4.5rem);
  background: url("./img/jumbotronimg.jpg"),
    linear-gradient(rgba(13, 50, 102, 0.5), rgba(13, 50, 102, 1));
  background-blend-mode: overlay;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.tagLine {
  color: #f8f9fa;
  font-size: 18px;
}

.headline {
  text-transform: uppercase;
  font-weight: 600;
  color: #d5e7f2;
  text-shadow: 1px 1px 25px black;
}

.container-jumbotron {
  max-width: 80%;
  height: auto;
  margin: 0 auto;
}
